
{% extends 'peektop/about.html' %}
{%load static%}
{% load humanize %}


<!-- {% block tittle %}<title>Deposit</title>{% endblock %}
 -->



{% block body %}    
    
<div class="page page--main" data-page="intro-website">
    
        <br>

        <div class="page__content page__content--with-header">
        <h2 style="text-align:center;" class="page__title"><strong><div>{{sitename}} Limited Privacy Policy</div></strong></h2>


        <div class="row">
              <p>
                  This section provides information on how safe it is to use the official {{sitename}} Limited website in terms
                    of providing personal data. Using our website.<br><br>

                    {{sitename}} Limited respect and protect the privacy of visitors to our websites and our customers who use
                    our services. To ensure transparency, this Privacy Policy describes our information handling practices
                    when you access content we own or operate on the websites located at {{sitename}}.com or any other
                    websites, pages, features, or content we own or operate (collectively, the "Site(s)") and related services
                    (referred to collectively hereinafter as "Services").<br><br>

                    Please take a moment to read this Privacy Policy carefully. If you have any questions about this Privacy
                    Notice, please contact us <a href="mailto:info@{{sitename}}.com ">info@{{sitename}}.com </a>               
                </p>

        </div>

        <div class="row">
                <h4 class="card__title">Acceptance of privacy policy</h4>
              <p>
                This Privacy Policy applies to your use of (regardless of means of access) our Services. You may access or
                use our Services through a desktop, laptop, mobile phone, tablet, or other consumer electronic device
                (each, a "Device"). <br>


                By accessing and using our Services, you signify acceptance to the terms of this Privacy Policy. Where we
                require your consent to process your personal information, we will ask for your consent to the
                collection, use, and disclosure of your personal information as described further below. If you do not
                agree with or you are not comfortable with any aspect of this Privacy Policy, you should immediately
                discontinue access or use of our Services.
            </p>

        </div>

         <div class="row">
                <h4 class="card__title">Personal information collected</h4>
              <p>
               We collect personal information to provide you with our Services. When we require certain personal
                information from users it is because we are required by law to collect this information or it is relevant
                for specified purposes. Any information you provide to us that is not required is voluntary. You are free
                to choose whether to provide us with the types of personal information requested, but we may not be
                able to serve you as effectively or offer you all of our Services when you do choose not to share certain
                information with us.
                <br>
                We collect the following types of information:
                <br>
                Personal information:
                <strong>Full name, nationality, phone number, home address, email.</strong><br>
                Financial Information:
                <strong>
                    Transaction history and investment data.
                    
                </strong><br>
                Transaction Information:
                <strong>
                    Information about the transactions you make on our Services, such as the name of the recipient, your
                    name, the amount, and/or timestamp.
                </strong><br>
                <strong>
                   
                </strong>
                            </p>

        </div>
        



         <div class="row">
                <h4 class="card__title">Usage Data:</h4>
              <p>
                 Survey responses, information provided to our support team, public social networking posts,
                    authentication data, security questions, user ID, click-stream data and other data collected via cookies
                    and similar technologies.
            </p>

        </div>


        <div class="row">
                <h4 class="card__title">How we share information:</h4>
              <p>
                 We do not share your Personal Information with: (1) other financial companies for joint marketing
                purposes; (2) affiliated companies for their everyday business purposes; or (3) any third parties so they
                can market to you. We may share your Personal Information with unaffiliated third parties: (1) if you
                request or authorize it; (2) if the information is provided to help complete a transaction for you; (3) if
                the information is provided to: (a) comply with applicable laws, rules, regulations, governmental and
                quasi-governmental requests, court orders, or subpoenas; (b) enforce our Terms of Use or other
                agreements; or (c) protect our rights, property, or safety or the rights, property, or safety of our users or
                others (e.g., to a consumer reporting agency for fraud protection, etc.); (4) if the disclosure is done as
                part of a purchase, transfer, or sale of services or assets (e.g., in the event that substantially all of our
                assets are acquired by another party, your Personal Information may be one of the transferred assets);
                (5) if the information is provided to our third-party service providers to perform functions on our behalf
                (e.g., analyzing data, providing marketing assistance, providing customer service, processing orders,
                etc.); (6) for our everyday business purposes; or (7) as permitted by applicable law or otherwise
                described in this Privacy Policy. When you are no longer our customer, we continue to share your
                information as described in this Privacy Policy. We may disclose Analytics with third parties as described
                elsewhere in this Privacy Policy and for our commercial purposes.
                            </p>

        </div>


        <div class="row">
                <h4 class="card__title">Modifications:</h4>
              <p>
                 You are entitled to review, correct, or amend your personal information, or to delete that information
                    where it is inaccurate. You may do this at any time by contacting support. If you close your {{sitename}}
                    Limited Account, we will mark your account in our database as "Closed," but will keep your account
                    information in our database for a period of time described above. This is necessary in order to deter
                    fraud, by ensuring that persons who try to commit fraud will not be able to avoid detection simply by
                    closing their account and opening a new account. However, if you close your account, your personal
                    information will not be used by us for any further purposes, nor sold or shared.
            </p>

        </div>
        

              <div class="row">
                <h4 class="card__title">Modifications:</h4>
              <p>
                 When you use our Services, you may be directed to other websites that are beyond our control. We may
                    also allow third-party websites or applications to link to our Services. We are not responsible for the
                    privacy practices of any third parties or the content of linked websites, but we do encourage you to read
                    the applicable privacy policies and terms and conditions of such parties and websites. This Privacy Policy
                    only applies to our Services.
            </p>

        </div>
        

               <div class="row">
                <h4 class="card__title">Breaches of these terms and conditions::</h4>
              <p>
                We reserve the right to modify this Privacy Policy at any time without prior notification.

        </div>
        
        
            


        <!-- <p style="text-align:center; font-weight:500">Why 10,000+ people and businesses trust {{sitename}}</p>
        <div class="swiper-container slider-simple slider-thumb-init mb-20" data-paginationtype="bullets" data-spacebetweenitems="0" data-itemsperview="1">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider-simple__slide" style="background-image:url(static/assets/images/photos/image-1.jpg); background:#121330;">
                    <div class="slider-simple__caption caption">
                        <div class="caption__content">
                            <h2 class="caption__title"><strong>SAFE.</strong></h2>
                            <p style="font-size:18px">Everything is kept under the military grade encryption from end-end keeping your digital wallet safe.</p>
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide slider-simple__slide" style="background-image:url(static/assets/images/photos/image-2.jpg); background:#121330;">
                    <div class="slider-simple__caption caption">
                        <div class="caption__content">
                            <h2 class="caption__title"><strong>FAST.</strong></h2>
                           <p style="font-size:18px">Developed with latest and advance technologies, {{sitename}} is lightweight thus providing a simple navigation for newbies. </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slider-simple__slide" style="background-image:url(static/assets/images/photos/image-3.jpg); background:#121330;">
                    <div class="slider-simple__caption caption">
                        <div class="caption__content">
                             <h2 class="caption__title"><strong>Reliable.</strong></h2>
                            <p style="font-size:18px">Developed with latest and advance technologies, {{sitename}} is lightweight thus providing a simple navigation for newbies. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev slider-simple__prev"></div>
            <div class="swiper-button-next slider-simple__next"></div>
            <div class="swiper-pagination slider-simple__pagination"></div>
    
        </div> -->
       
        
              
</div>



<!-- PAGE END -->
   
{% endblock %}