django==3.2.9
gunicorn
django-heroku
coinbase-commerce==1.0.1
django-preventconcurrentlogins==0.8.2
django-resized==0.3.11
django-session-timeout==0.1.0
django-six==1.0.4
psycopg2==2.9.1
psycopg2-binary==2.8.6
Pillow==8.1.0
requests==2.26.0
six==1.16.0
requests_html
mailjet_rest
python-decouple
python-dotenv
django-storages
boto3
Telethon
pyfiglet
colorama
