
{% extends 'app/auth/base.html' %}

{% load static %}
{%load humanize%}


{% block header %}
            <!-- START PAGE BANNER AND BREADCRUMBS -->
    <section id="page-banner">
        <div class="single-page-title-area overlay" data-background="static/goldstock/img/bg/slide1.jpg">
            <div class="auto-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="single-page-title">
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
                <!-- end row-->
            </div>
        </div>
        <div class="single-page-title-area-bottom">
            <div class="auto-container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Register</li>
                        </ol>
                    </div>
                </div>
                <!-- end row-->
            </div>
        </div>
    </section>
    <!-- END PAGE BANNER AND BREADCRUMBS -->
{% endblock %}
{% block body %}

      <!-- START CONTACT SECTION -->
    <section id="contactpage" class="section-padding">
        <div class="container">

            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="contact-form-wrapper">
                        <div class="contact-form">
                                <div style="display:none" class="container messages">
                                      <div style="padding: 5px;" class="close">x</div>
                                        <p  class="alert"></p>
                                    </div>
                            <form action="/register" id="regForm" method="post" class="form" name="enq">
                                    {% csrf_token %}

                                <div class="row">
                                    <div class="form-group col-12 mb-3">
                                        <label>Full Name *:</label>
                                        <input name="full_name" class="form-control" id="cname" required="required" type="text">
                                        <input name="ref" type="hidden" value="">
                                    </div>
                                    <div class="form-group col-12 mb-3">
                                        <label>Your Email*:</label>
                                        <input name="email" class="form-control" id="phone_number" required="required" type="email">
                                    </div>
                                    <div class="form-group col-12 mb-3">
                                        <label>User Name*:</label>
                                        <input name="username" class="form-control" id="cusername" required="required" type="text">
                                    </div>

                                    <div class="form-group col-12 mb-3">
                                        <label>Withdrawal pin*:</label>
                                        <input name="pin" class="form-control" id="cpin" required="required" type="text">
                                    </div>

                                    <div class="form-group col-12 mb-3">
                                        <label>Phone Number*:</label>
                                        <input name="phone_number" class="form-control" id="cnumber" required="required" type="number">
                                    </div>

                                    <div class="form-group col-12 mb-3">
                                        <label>Referral(optional):</label>
                                        <input name="ref" class="form-control" id="cref" placeholder="Username" type="text">
                                    </div>

                                    <div class="form-group col-12 mb-3">
                                        <label>Your Password*:</label>
                                        <input name="password" class="form-control" id="cemail" required="required" type="password">
                                    </div>
                                    <div class="form-group col-12 mb-3">
                                        <label>Confirm your Password*:</label>
                                        <input name="cpass" class="form-control" id="cemail" required="required" type="password">
                                        <center>
                                            <p id="regFormAlert"></p>
                                        </center>
                                    </div>

                                   <div class="col-6 col-lg-6 col-md-6">
                                        <p style="float:left; color: #000">Already have a account?</p>
                                    </div>
                                    <div class="col-6 col-lg-6 col-md-6">
                                        <a style="float:right" href="/login">Login</a>
                                    </div>
                                    <div class="form-group col-lg-12 mb-0 text-center">
                                        <div class="actions">
                                            <center>
                                                <button id="s_btn1" type="submit" class="auth btn btn-warning">Register <i class="fa fa-user-plus"></i></button>

                                                <button id="s_btn2" type="button" class="loading btn btn-warning">Loading <i class="fa fa-spin fa-spinner"></i></button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT SECTION -->





{% endblock %}
    <!-- START FOOTER -->
  