
{% extends 'peektop/welcome.html' %}
{%load static%}
{% load humanize %}


<!-- {% block tittle %}<title>Deposit</title>{% endblock %}
 -->


 {% block header %}
    <!-- HEADER -->
     <header style="background: #121330;" class="header header--fixed">   
        <div class="header__inner"> 
            <div class="header__icon"><a href="/welcome"><img src="{% static 'assets/images/icons/gray/arrow-back.svg' %}" alt="" title=""/></a></div>
            <div class="header__icon " data-panel="right" data-arrow="left">{{currency}}{{wallet|intcomma}}</div>
                </div>
    </header>
    {% endblock %}


{% block body %}    
    
<div class="page page--contact" data-page="intro-testify">
    
        <br>

        <div class="page__content page__content--with-header">

             <div style="display:none" class="container messages">
                      <div style="padding: 5px;" class="close">x</div>
                        <p  class="alert"></p>
                    </div>


    <div class="row">
        <div class="page__title-bar">
            <h3>Update Coupon</h3>

        </div>    
           <p>Update your coupon code here to enable you start buying shares</p>
        <div class="fieldset">
            <h2 id="Note"></h2>
            <div class="form">
                <form class="UserForm" id="PasswordForm" method="post">
                                    {% csrf_token %}
                    

                   <div class="form__row">
                            <input type="text" name="code" value="" class="form__input required"  placeholder="Code" />
                        </div>


                    <div class="form__row mt-20">
                        <input type="submit" name="submit" class="form__submit button button--green button--full" id="submit" value="SUBMIT" />
                    </div>
                </form>
            </div>
        </div>
    </div>
        
       
        
              
</div>



<!-- PAGE END -->
   
{% endblock %}