
<!DOCTYPE html>
<html lang="en-US">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="theme-color" content="#3199b7">

    <meta name="description" content="Get cheap mobile data for all networks 😎🇳🇬
Excess airtime for fast cash 💵💸 
E-pin Dealer 💳
Cable TV Sub 📡
We train people on recharge card printing.">
    <meta name="keywords" content="data, mtn, glo, 9mobile, airtime, subscription, plans, share and sell">

    <link rel="icon" href="https://honour.codesett.com/resources/uploads/1/roguhema-5e0aba8d6c8d1.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://honour.codesett.com/resources/uploads/1/roguhema-5e0aba8d6c8d1.png" type="image/x-icon">


        <!-- Plugin styles -->
        <link rel="stylesheet" href="https://honourworld.ng/vendors/bundle.css?v=000000018" type="text/css">

        <!-- App styles -->
        <link rel="stylesheet" href="https://honourworld.ng/assets/css/app.css?v=000000018" type="text/css">
        <link rel="stylesheet" href="https://honourworld.ng/resources/select2/dist/css/select2.min.css?v=000000018" type="text/css">


        <title>Replenish Data Wallet</title>
</head>
    <body>
    <!-- begin::preloader-->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->
    <div class="header">
        <div>
    <ul class="navbar-nav">

        <!-- begin::navigation-toggler -->
        <li class="nav-item navigation-toggler">
            <a href="#" class="nav-link" title="Hide navigation">
                <i data-feather="arrow-left"></i>
            </a>
        </li>
        <li class="nav-item navigation-toggler mobile-toggler">
            <a href="#" class="nav-link" title="Show navigation">
                <i data-feather="menu"></i>
            </a>
        </li>
        <!-- end::navigation-toggler -->

        <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Create</a>
            <div class="dropdown-menu">
                                <a href="https://honourworld.ng/contact/new" class="dropdown-item">Contact</a>
            </div>
        </li>
            </ul>
</div>

<div>
    <ul class="navbar-nav">

        <!-- begin::header search -->
        <li class="nav-item">
            <a href="#" class="nav-link" title="Search" data-toggle="dropdown">
                <i data-feather="search"></i>
            </a>
            <div class="dropdown-menu p-2 dropdown-menu-right">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-prepend">
                            <button class="btn" type="button">
                                <i data-feather="search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <!-- end::header search -->

        <!-- begin::header minimize/maximize -->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                <i class="maximize" data-feather="maximize"></i>
                <i class="minimize" data-feather="minimize"></i>
            </a>
        </li>


        <li class="nav-item dropdown">
            <a href="https://honourworld.ng/wallet" class="nav-link" title="Wallet: ₦126.25">
                <i data-feather="credit-card"></i>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="https://honourworld.ng/messages" class="nav-link" title="Messages: 0" >
                <i data-feather="message-square"></i>
            </a>
        </li>
                <!-- end::user menu -->
        <li class="nav-item dropdown">
            <a href="https://honourworld.ng/logout" class="nav-link" title="Logout" >
                <i data-feather="log-out"></i>
            </a>
        </li>
    </ul>

    <!-- begin::mobile header toggler -->
    <ul class="navbar-nav d-flex align-items-center">
        <li class="d-sm-none">₦126.25</li>
        <li class="nav-item header-toggler">
            <a href="#" class="nav-link">
                <i data-feather="arrow-down"></i>
            </a>
        </li>

    </ul>
    <!-- end::mobile header toggler -->
</div>
    </div>

    <div id="main">
    <!-- begin::navigation -->
<div class="navigation">

    <div class="navigation-menu-tab">
        <div>
            <div class="navigation-menu-tab-header user-avatar" data-usersname="Onyemordi Daniel" data-toggle="tooltip" title="Onyemordi Daniel" data-placement="right">
                <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                    <figure class="avatar avatar-sm">
                        <img src="https://honourworld.ng/assets/media/image/user.png" class="rounded-circle" alt="avatar">
                    </figure>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big" style="transform: none!important;">
                    <div class="p-3 text-center" data-backround-image="https://honourworld.ng/assets/media/image/image1.jpg">
                        <figure class="avatar mb-3">
                            <img src="https://via.placeholder.com/128X128" class="rounded-circle" alt="image">
                        </figure>
                        <h6 class="d-flex align-items-center justify-content-center">
                            Onyemordi Daniel                            <a href="https://honourworld.ng/profile" class="btn btn-primary btn-sm ml-2" data-toggle="tooltip" title="Edit profile">
                                <i data-feather="edit-2"></i>
                            </a>
                        </h6>
                        <small>Balance: <strong> NGN 126.25</strong></small>
                    </div>
                    <div class="dropdown-menu-body">
                        <div class="border-bottom p-4">
                            <h6 class="text-uppercase font-size-11 d-flex justify-content-between">
                                Profile Completion
                                <span>%25</span>
                            </h6>
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 35%;"
                                     aria-valuenow="35"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="https://honourworld.ng/profile" class="list-group-item">Profile</a>
                            <a href="https://honourworld.ng/contacts" class="list-group-item d-flex">
                                Contacts <span class="text-muted ml-auto">9</span>
                            </a>
                            <a href="https://honourworld.ng/messages" class="list-group-item d-flex">
                                Messages <span class="text-muted ml-auto">0</span>
                            </a>
                            <a href="#" class="list-group-item" data-sidebar-target="#settings">Billing</a>
                            <a href="https://support.honourworld.ng" class="list-group-item" data-sidebar-target="#settings">Need help?</a>
                            <a href="https://honourworld.ng/logout" class="list-group-item text-danger">Sign Out!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1">
            <ul>
                <li>
                    <a class="active" href="#" data-toggle="tooltip" data-placement="right" title="Dashboards"
                       data-nav-target="#dashboards">
                        <i data-feather="home"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-toggle="tooltip" data-placement="right" title="Office" data-nav-target="#office">
                        <i data-feather="briefcase"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-toggle="tooltip" data-placement="right" title="Financials"
                       data-nav-target="#financials">
                        <i data-feather="credit-card"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-toggle="tooltip" data-placement="right" title="Transactions"
                       data-nav-target="#transactions">
                        <i data-feather="list"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-toggle="tooltip" data-placement="right" title="Messages" data-nav-target="#messages">  <i data-feather="inbox"></i></a>
                </li>
                <li>
                    <a class="" href="#" data-toggle="tooltip" data-placement="right" title="Account" data-nav-target="#account">
                        <i data-feather="user"></i>
                    </a>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <a class="" href="#" data-toggle="tooltip" data-placement="right" title="Activities" data-nav-target="#activitys">
                        <i data-feather="activity"></i>
                    </a>
                </li>
                                <li>
                    <a href="https://honourworld.ng/logout" data-toggle="tooltip" data-placement="right" title="Logout">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- begin::navigation menu -->
    <div class="navigation-menu-body" style="overflow: hidden; outline: none; touch-action: none;">

        <!-- begin::navigation-logo -->
        <div>
            <div id="navigation-logo">
                <a href="https://honourworld.ng/logout">
                    <img class="logo" style="max-width: 140px;" src="https://honour.codesett.com/resources/uploads/1/nalojusu-5e0ab97618d23.png"  alt="{{siteName}} Limited">
                    <img class="logo-light" style="max-width: 140px;"  src="https://honour.codesett.com/resources/uploads/1/nalojusu-5e0ab97618d23.png"  alt="Honour World Limited">
                </a>
            </div>
        </div>
        <!-- end::navigation-logo -->

        <div class="navigation-menu-group">

            <div class="open" id="dashboards">
                <ul>
                    <li class="navigation-divider">Main Menu</li>
                    <li><a class="" href="https://honourworld.ng/dashboard">Dashboard</a></li>
                                            <li><a class="" href="https://honourworld.ng/products/data-top-up">Data Top-up</a></li>
                    
                   
                        <li>
                            <a class="active" href="https://honourworld.ng/cg-wallet">
                                <span>CG Wallet</span>
                                <span class="badge badge-danger">New</span>

                                                                    <span class="badge badge-success">In Stock</span>
                                                            </a>
                        </li>
                        <li>
                            <a class="" href="https://honourworld.ng/upgrade">
                                <span>Upgrade Account</span>
                                <span class="badge badge-danger">New</span>
                            </a>
                        </li>
                                                            <li class="navigation-divider">Recent Contacts</li>
                    <li>

                        <div class="list-group list-group-flush">


                                                        <a href="https://honourworld.ng/contact/67055" class="list-group-item d-flex align-items-center">
                                <div>
                                    <div class="avatar avatar-sm m-r-10">
                                        <img src="https://honourworld.ng/assets/media/image/user.png" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <span>08167997730</span>
                            </a>
                                                        <a href="https://honourworld.ng/contact/67317" class="list-group-item d-flex align-items-center">
                                <div>
                                    <div class="avatar avatar-sm m-r-10">
                                        <img src="https://honourworld.ng/assets/media/image/user.png" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <span>08101288523</span>
                            </a>
                                                        <a href="https://honourworld.ng/contact/69584" class="list-group-item d-flex align-items-center">
                                <div>
                                    <div class="avatar avatar-sm m-r-10">
                                        <img src="https://honourworld.ng/assets/media/image/user.png" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <span>08167887780</span>
                            </a>
                                                    </div>
                    </li>
                                    </ul>
            </div>
            <div class="" id="office">
                <ul>
                                        <li><a class="" href="https://honourworld.ng/announcements">Noticeboard</a></li>
                                        <li class="navigation-divider">Contact Management</li>
                    <li><a class="" href="https://honourworld.ng/contact/new">New Contact</a></li>

                    <li>
                        <a class="" href="https://honourworld.ng/contacts">
                            <span>List Contacts</span>
                            <span class="badge badge-primary">9</span>
                        </a>
                    </li>

                    <li class="navigation-divider">Group Management</li>
                    <li><a class="" href="https://honourworld.ng/group/new">New Group</a></li>
                    <li>
                        <a class="" href="https://honourworld.ng/groups">
                            <span>List Groups</span>
                            <span class="badge badge-primary">0</span>
                        </a>
                    </li>


                    

                </ul>
            </div>
            <div class="" id="financials">
                <ul>
                    <li class="navigation-divider">Financials</li>
                    <li><a class="open " href="#">Wallet</a>
                        <ul style="display:block" >
                            <li><a class="" href="https://honourworld.ng/wallet">Fund Wallet</a></li>
                            <li><a class="" href="https://honourworld.ng/wallet/transfer">Wallet Transfers</a></li>
                            <li><a class="" href="https://honourworld.ng/wallet/data-transfer">Data Transfers</a></li>
                        </ul>
                    </li>
                                    </ul>
            </div>
            <div class="" id="transactions">
                <ul>
                    <li class="navigation-divider">Transaction History</li>
                    <li>
                        <a href="#">All Transactions</a>
                        <ul style="display:block" >
                                                            <li><a class="" href="https://honourworld.ng/transactions/data-top-up">Data Top-up</a></li>
                                                        <li><a class="" href="https://honourworld.ng/cg-transactions/">CG Top-up</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Wallet Transactions</a>
                        <ul style="display:block" >
                            <li><a class="" href="https://honourworld.ng/wallet/cg-transfers">CG Transfer Tranx.</a></li>

                            <li><a class="" href="https://honourworld.ng/wallet/transfers">Transfer Tranx.</a></li>
                            <li><a class="" href="https://honourworld.ng/transactions/topup">Top-up Tranx.</a></li>
                        </ul>
                    </li>
                                                                <li><a class="" href="https://honourworld.ng/referrals">Referral Transactions</a></li>
                    
                    <li><a class="" href="https://honourworld.ng/transactions/sales">Sales Transactions</a></li>
                </ul>
            </div>
            <div class="" id="account">
                <ul>
                    <li class="navigation-divider">Accounts</li>

                    <li><a class="" href="https://honourworld.ng/profile">My Profile</a></li>
                                        
                </ul>
            </div>
                        <div class="" id="activitys">
                <ul>
                    <li class="navigation-divider">Activities</li>
                    <li><a class="" href="https://honourworld.ng/activitylogs">Activity Logs</a></li>

                </ul>
            </div>
                    </div>
    </div>
    <!-- end::navigation menu -->

</div>
<!-- end::navigation -->
        <!-- begin::main-content -->
        <div class="main-content">
            <!-- begin::page-header -->
            <div class="page-header">
                <div class="container-fluid d-sm-flex justify-content-between">
                    <h4>CG Plan</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">CG Plan</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end::page-header -->

            <!-- begin::page content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Your available Data Wallets</h6>
                    <ul class="list-group list-group-flush">

                        
                                                <li class="list-group-item d-flex align-items-center p-l-r-0">
                            <div>
                                <figure class="avatar avatar-state-success m-r-15">
                                    <img src="https://honourworld.ng/resources/uploads/provider/logo/851795469425700f089d82c983f328f6.png" class="rounded-circle" alt="image">
                                </figure>
                            </div>
                            <div>
                                <small><strong>Type: MTN SME</strong></small>
                                <h6 class="m-b-0">Current Balance for MTN Data Wallet</h6>
                                <p style="font-size: 30px;"><strong>0MB</strong></p>

                            </div>
                        </li>
                                                <li class="list-group-item d-flex align-items-center p-l-r-0">
                            <div>
                                <figure class="avatar avatar-state-success m-r-15">
                                    <img src="https://honourworld.ng/resources/uploads/provider/logo/851795469425700f089d82c983f328f6.png" class="rounded-circle" alt="image">
                                </figure>
                            </div>
                            <div>
                                <small><strong>Type: MTN Gifting</strong></small>
                                <h6 class="m-b-0">Current Balance for MTN Data Wallet</h6>
                                <p style="font-size: 30px;"><strong>0MB</strong></p>

                            </div>
                        </li>
                                                <li class="list-group-item d-flex align-items-center p-l-r-0">
                            <div>
                                <figure class="avatar avatar-state-success m-r-15">
                                    <img src="https://honour.codesett.com/resources/uploads/provider/logo/ad83c3f41e1ba0176408d0a1e5d3f15a.jpg" class="rounded-circle" alt="image">
                                </figure>
                            </div>
                            <div>
                                <small><strong>Type: Glo</strong></small>
                                <h6 class="m-b-0">Current Balance for GLO Data Wallet</h6>
                                <p style="font-size: 30px;"><strong>0MB</strong></p>

                            </div>
                        </li>
                                                <li class="list-group-item d-flex align-items-center p-l-r-0">
                            <div>
                                <figure class="avatar avatar-state-success m-r-15">
                                    <img src="https://honourworld.ng/resources/uploads/provider/logo/ce191b584e2b1104cadf3fe7b7b77c2f.png" class="rounded-circle" alt="image">
                                </figure>
                            </div>
                            <div>
                                <small><strong>Type: Airtel</strong></small>
                                <h6 class="m-b-0">Current Balance for Airtel Data Wallet</h6>
                                <p style="font-size: 30px;"><strong>0MB</strong></p>

                            </div>
                        </li>
                                                <li class="list-group-item d-flex align-items-center p-l-r-0">
                            <div>
                                <figure class="avatar avatar-state-success m-r-15">
                                    <img src="https://honour.codesett.com/resources/uploads/provider/logo/c699787e2ed88a4c524d510d911f02a9.png" class="rounded-circle" alt="image">
                                </figure>
                            </div>
                            <div>
                                <small><strong>Type: 9mobile</strong></small>
                                <h6 class="m-b-0">Current Balance for 9mobile Data Wallet</h6>
                                <p style="font-size: 30px;"><strong>0MB</strong></p>

                            </div>
                        </li>
                                                <li class="list-group-item d-flex align-items-center p-l-r-0">
                            <div>
                                <figure class="avatar avatar-state-success m-r-15">
                                    <img src="https://honourworld.ng/resources/uploads/provider/logo/851795469425700f089d82c983f328f6.png" class="rounded-circle" alt="image">
                                </figure>
                            </div>
                            <div>
                                <small><strong>Type: MTN Corporate Gifting</strong></small>
                                <h6 class="m-b-0">Current Balance for MTN Data Wallet</h6>
                                <p style="font-size: 30px;"><strong>125GB</strong></p>

                            </div>
                        </li>
                                                
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-xl-8">
            <div class="card">
                <div class="card-header bg-primary">
                    Replenish Data Wallet                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <form
                                    class="js-ajax-cgform-img"
                                    action="https://honourworld.ng/cg-wallet/"
                                    method="POST"
                            >
                                <div class="form-result"></div>

                                <input type="hidden" name="action" value="request">

                                <ul class="list-unstyled bankdetails">
                                    <li>Pay into our Corporate Account:<br/>
<small>Tap on account number to copy.</small><br/> <br/>
Account Name: <strong>HONOUR INNOVATIONS </strong><br/>
Account Number: <strong class="copy-account-to-clipboard">0814495119</strong><br/>
Bank Name: <strong>Access Bank PLC</strong><br/>
<br/><br/>

Account Name: <strong>Honour World Limited </strong><br/>
Account Number: <strong class="copy-account-to-clipboard">7199546351</strong><br/>
Bank Name: <strong>Wema/ALAT Bank </strong> <br/></li>
                                </ul>
                                <br/>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cgr_cgdid">Choose a bundle</label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="cgr_name_icon"><i data-feather="package"></i></span>
                                                </div>
                                                <select required class="form-control" id="cgr_cgdid" name="cgr_cgdid">
                                                                                                            <option value="8">
                                                            125GB @ N24,375.00 - MTN Corporate Gifting                                                        </option>
                                                                                                            <option value="7">
                                                            250GB @ N48,750.00 - MTN Corporate Gifting                                                        </option>
                                                                                                            <option value="1">
                                                            500GB @ ₦97,500.00 - MTN Corporate Gifting                                                        </option>
                                                                                                            <option value="2">
                                                            1TB @ ₦195,000.00 - MTN Corporate Gifting                                                        </option>
                                                                                                            <option value="3">
                                                            2TB @ ₦390,000.00 - MTN Corporate Gifting                                                        </option>
                                                                                                            <option value="4">
                                                            3TB @ ₦585,000.00 - MTN Corporate Gifting                                                        </option>
                                                                                                            <option value="5">
                                                            5TB @ ₦975,000.00 - MTN Corporate Gifting                                                        </option>
                                                                                                            <option value="6">
                                                            10TB @ ₦1,950,000.00 - MTN Corporate Gifting                                                        </option>
                                                                                                    </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">

                                        <div class="form-group">
                                            <label for="paymentoption">
                                                Pay with                                            </label>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="cgd_name_icon"><i data-feather="chevrons-right"></i></span>
                                                </div>
                                                <select required class="form-control paymentoption" id="paymentoption" name="cgr_paymentmethod">
                                                                                                                                                                    <option value="wallet">Wallet</option>
                                                                                                                                                                                                                            <option value="bank">Bank</option>
                                                                                                                                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row evidence-row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cgr_evidence">Evidence of payment</label>
                                            <div class="input-group">
                                                <input type="file" class="form-control-file img-file-input" id="cgr_evidence" name="cgr_evidence">
                                            </div>
                                            <div id="imgTest"></div>
                                            <small id="cgr_evidence_help" class="form-text text-muted">Upload the proof of payment</small>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block btn-square">Request</button>
                            </form>
                        </div>
                        <div class="col-5">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end::page content -->


            <!-- begin::footer -->
<style>
    #scroll {
        position:fixed;
        right:10px;
        bottom:100px;
        cursor:pointer;
        width:50px;
        height:50px;
        background-color:#3498db;
        text-indent:-9999px;
        display:none;
        -webkit-border-radius:60px;
        -moz-border-radius:60px;
        border-radius:60px
    }
    #scroll span {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-8px;
        margin-top:-12px;
        height:0;
        width:0;
        border:8px solid transparent;
        border-bottom-color:#ffffff;
    }
    #scroll:hover {
        background-color:#e74c3c;
        opacity:1;filter:"alpha(opacity=100)";
        -ms-filter:"alpha(opacity=100)";
    }
</style>
<footer>
    <div class="container-fluid">
        <div>© 2022 <a target="_blank" href="https://twitter.com/honourworldng"> Honour World Limited</a> </div>
        <div>
            <nav class="nav">
                <a href="https://honourworld.ng/privacy" class="nav-link">Privacy</a>
                <a href="https://honourworld.ng/terms" class="nav-link">Terms of Use</a>
                <a href="https://honourworld.ng/support" class="nav-link">Get Help</a>
            </nav>
        </div>
    </div>
    <a href="#" id="scroll" style="display: none;"><span></span></a>
</footer>
<!-- end::footer -->
<script>
    var $authuser = 'Onyemordi Daniel';

</script>            <!-- begin::payment option modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Choose Option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- end::payment option modal -->
<div class="modal fade mymodal" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Processing...</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success  progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentEvidenceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bank payment evidence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="#" id="payEvidence_img"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
            <script type="text/javascript" src="https://honourworld.ng/resources/js/plugins.js?v=000000018"></script>
<script type="text/javascript" charset="utf-8">
    var __ = function(msgid) 
    {
        return window.i18n[msgid] || msgid;
    };

    window.i18n = {
        'Are you sure?': 'Are you sure?',
        'It is not possible to get back removed data!': 'It is not possible to get back removed data!',
        'Yes, Delete': 'Yes, Delete',
        'Cancel': 'Cancel',
        'Fill required fields': 'Fill required fields.',
        'Please select at least 2 media album post.': 'Please select at least 2 media album post.',
        'Please select one media for story post.': 'Please select one media for story post.',
        'Please select one media for post.': 'Please select one media for post.',
        'Please select an Instagram account to post.': 'Please select an Instagram account to post.',
        'Oops! An error occured. Please try again later!': 'Oops! An error occured. Please try again later!',
        'Use the TAB key to insert emoji faster': 'Use the TAB key to insert emoji faster',
        'Total Posts': 'Total Posts',
        'Followers': 'Followers',
        'Following': 'Following',
        'Uploading...': 'Uploading...',
        'Do you really want to cancel automatic payments?': 'Do you really want to cancel automatic payments?',
        'Yes, cancel automatic payments': 'Yes, cancel automatic payments',
        'No': 'No',
        'Verification': 'Verification',
        'Searching for %s': 'Searching for %s...',
        '+%s more': '+%s more'
    };

    $.fn.datepicker.language['en-US'] = {
        days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        today: 'Today',
        clear: 'Clear',
        dateFormat: 'mm/dd/yyyy',
        timeFormat: 'hh:ii aa',
        firstDay: 1
    };

    if (typeof $.fn.oneFileManager !== 'undefined') {
        $.fn.oneFileManager.i18n["en-US"] = {
            selectFiles: 'Select files',
            loadMoreFiles: 'Load more',
            viewFile: 'View',
            deleteFile: 'Delete',
            urlInputPlaceholder: 'Paste your link here...',

            emptyVolume: 'Your media volume is empty. <br /> Drag some files here.',
            dropFilesHere: 'Drop files here to upload',
            deleteFileConfirm: 'This file and all uncompleted posts which this file is assigned to will be removed. This process cannot be undone. Do you want to proceed?',
            bigFileSizeError: 'File size exceeds max allowed file size.',
            fileTypeError: 'File type is not allowed.',
            noEnoughVolumeError: 'There is not enough storage to upload this file',
            queueSizeLimit: 'There are so many files in upload queue. Please try again after current upload queue finishes.',
            deleteMessage: '{count} file(s) selected.',
            deleteMessageBtn: 'Remove?',
            removeSelectionConfirmation: 'Do you want to remove the selected files? This process can not be undone.',
            usedXofY: 'Used {used} of {total}',
            usedX: 'Used {used}',
            total: 'Total',
            xfiles: '{count} files',
            remainingStorage: 'Remaining storage',
            maxUploadSize: 'Max. file size to upload',
            unlimitedStorage: 'Unlimited storage',
            clearStorage: 'Clear storage',
            clearStorageConfirm: 'Do you really want to remove all of your files? Your scheduled posts will not be published. This action not be undone.',
        };
    }
</script>
<script type="text/javascript" src="https://honourworld.ng/resources/js/core.js?v=000000018"></script>
<script src="https://honourworld.ng/assets/js/sweetalert2.all.min.js?v=000000018"></script>

<script src="https://js.paystack.co/v1/inline.js"></script>

    <script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>

    <script src="https://checkout.flutterwave.com/v3.js"></script>

    <script type="text/javascript" src="https://sdk.monnify.com/plugin/monnify.js"></script>


</script>

        </div>
        <!-- end::main-content -->
    </div>



    <!-- Plugin scripts -->
    <script src="https://honourworld.ng/vendors/bundle.js?v=000000018"></script>
    <script src="https://honourworld.ng/assets/js/sweetalert2.all.min.js?v=000000018"></script>
    <script src="https://honourworld.ng/resources/js/ajax-form-imgcgwallet.js?v=000000018"></script>
    <script src="https://honourworld.ng/resources/select2/dist/js/select2.full.min.js?v=000000018"></script>
    <script type="text/javascript" charset="utf-8">


        $(function(){

            var paymentopt_select = $('.paymentoption');
            if(paymentopt_select.val() === "wallet"){
                $('.evidence-row').hide();
                $(".evidence-row").attr('disabled','disabled');
                $('.bankdetails').hide();
            }

            if(paymentopt_select.val() === "bank"){
                $('.evidence-row').show();
                $(".evidence-row").removeAttr('disabled');
                $('.bankdetails').show();
            }


            $('.paymentoption').on('change', function() {
                if(this.value === "wallet"){
                    $('.bankdetails').hide();
                    $('.evidence-row').hide();
                }

                if(this.value === "bank"){
                    $('.bankdetails').show();
                    $('.evidence-row').show();
                }

            });

        });
    </script>
    <!-- App scripts -->
    <script src="https://honourworld.ng/assets/js/app.js?v=000000018"></script>

                

        <script id="sbinit" src="https://livechat.honourworld.ng/js/main.js"></script>


        <script>

            $(document).ready(function(){
                $(window).scroll(function(){
                    if ($(this).scrollTop() > 100) {
                        $('#scroll').fadeIn();
                    } else {
                        $('#scroll').fadeOut();
                    }
                });
                $('#scroll').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 600);
                    return false;
                });
            });
        </script>    </body>
</html>