{% extends 'lift9ja/base.html' %} {% load static %} {%load humanize%} {% block body %}

					<div class="hero-header-wrapper">
						<div class="hero-section-header-into-wrapper">
							<div class="hero-section-intro-content">
								<div class="module">
									<div class="section-element-container">
										<div id="theinvestmenthub"><a href="#theinvestmenthub"><button class="invest-hub-btn theinvestmenthubbtn"><span class="invest-hub-text">THE INVESTMENT HUB</span></button></a></div>
										<div><span class="default-color">Managing your Investment has never been so simple.</span></div>
										<div><span class="default-colorc">Lift9ja Investment is a simple and secure way to Quick grow your money.
										Make more profits on your investments over time.</span>
										</div>
										<!-- <div class="hero-header-get-staretd">
																						<div class="col-12">
												<form action="https://www.gabz.com.ng/index.php" method="POST">
													<gabz-getstarted><input type="email" name="getstartedmail" placeholder="email@example.com"></gabz-getstarted><gabz-getstarted><button class="pry-button family-1" name="getstartedmailbtn">Get Started</button></gabz-getstarted>
													<p id="hidemsg" class="family-1" style="color: #DB4437; margin-top: 7px;"></p>
												</form>
											</div>
										</div> -->
									</div>
								</div>
								<div class="module">
									<div class="section-element-container">
										<div class="section-float-bg">
											<div class="hero-bg-container gabz-bounce">
												<div class="hero-importer-header-float"><img src="static/lift9ja/assets/library/api/image/elements/el-banner.png" alt="Gabz Investment and Loan"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="hero-header-features module">
						<div class="features-card-wrapper">
							<div class="white-bg-card">
								<div class="hero-card-element">
									<div class="default-bgp1"><i class="fal fa-rocket default-colorb"></i></div>
									<div><span>The new way to invest your money for the future</span></div>
									<div><a href="/register"><span class="family-1 default-color">Get Started</span></a></div>
								</div>
							</div>
							<div class="white-bg-card">
								<div class="hero-card-element">
									<div class="default-bgp1"><i class="fal fa-chart-bar default-colorb"></i></div>
									<div><span>Quick grow your money with our 24hrs  ROI</span></div>
									<div><a href="/register"><span class="family-1 default-color">Get Started</span></a></div>
								</div>
							</div>
							<!-- <div class="white-bg-card">
								<div class="hero-card-element">
									<div class="default-bgp1"><i class="fal fa-usd-circle default-colorb"></i></div>
									<div><span>Easy loan service for active Investor</span></div>
									<div><a href="/register"><span class="family-1 default-color">Get Started</span></a></div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-12">
			<div class="toggler thmswitcher"><i class="fas fa-moon"></i></div>
		</div> -->
		<div class="col-12 white-bg">
			<div class="col-12">
				<div class="hero-section-element-card">
					<div class="hero-section-content-list">
						<div class="hero-list-element-block">
							<div class="hero-element-card-wrapper module">
								<div><span class="default-color"><i class="fal fa-chart-bar"></i></span></div>
								<div><span class="default-color">Flexible Investment</span></div>
								<div><span class="default-colorc">We make investment simpler than it sounds. Invest in our available plan, and watch the returns keep rolling in.</span>
								</div>
							</div>
							<div class="hero-element-card-wrapper module">
								<div><span class="default-color"><i class="fal fa-paper-plane"></i></span></div>
								<div><span class="default-color">Quick Grow your Money</span></div>
								<div><span class="default-colorc">You deserve good stuff. In 30 days, expand your investment with our 10% ROI in just 24hrs.</span>
								</div>
							</div>
						</div>
						<div class="hero-element-card-slide gabz-bounce module">
							<div><img src="static/lift9ja/assets/library/api/image/business-partner.png" alt="Gabz Investment We are here to help you with"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-section-bg2 hero-section-bg2lgt col-12">
				<div class="col-12">
					<div class="hero-choose-container">
						<div class="choose-wrapper">
							<div class="hero-class-choose-spilit-container">
								<div class="hero-class-choose-element-spilit module">
									<div class="hero-choose-us-img gabz-bounce"><img src="static/lift9ja/assets/library/api/image/why_invest.png" alt="Why-choose-Gabz"></div>
								</div>
								<div class="hero-class-choose-element-spilit module">
									<div class="choose-header"><span class="default-color">Why Invest with LIFT9JA Investment?</span></div>
									<div class="choose-list">
										<div class="default-color"><i class="fas fa-badge-check"></i></div>
										<div><span class="default-colorb">Completely Free Of Charge!</span></div>
									</div>
									<div class="choose-list">
										<div class="default-color"><i class="fas fa-badge-check"></i></div>
										<div><span class="default-colorb">Earn 10% on any of the  investment plan ranging from 2,000 to 200,000 NGN.</span></div>
									</div>
									<div class="choose-list">
										<div class="default-color"><i class="fas fa-badge-check"></i></div>
										<!-- <div><span class="default-colorb">Quick Loan up to 50% of Investment Amount</span></div> -->
									</div>
									<div class="choose-list">
										<div class="default-color"><i class="fas fa-badge-check"></i></div>
										<div><span class="default-colorb">Synced with Top-Class Brokers</span></div>
									</div>
									<div class="choose-list">
										<div class="default-color"><i class="fas fa-badge-check"></i></div>
										<div><span class="default-colorb">Safe, secure and quick access to your money</span></div>
									</div>
									<div class="choose-list">
										<div class="default-color"><i class="fas fa-badge-check"></i></div>
										<div><span class="default-colorb">Experienced investment fund managers</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="hero-feature-container">
						<div class="feature-wrapper">
							<div class="hero-feature-element-split-container">
								<div class="hero-feature-element-split module white-bg-card">
									<div>
										<div class="default-bgp1">
											<div><span><i class="fal fa-lock"></i></span></div>
										</div>
										<div><span>SSL Secured</span></div>
										<div><span>LIFT9JA is completely SSL and highly secured, thereby having little risk of phishing your personal data.</span></div>
									</div>
									<div class="lockicon"><i class="zmdi zmdi-lock"></i></div>
								</div>

								<div class="hero-feature-element-split module white-bg-card">
									<div>
										<div class="default-bgp1">
											<div><span><i class="fal fa-sync"></i></span></div>
										</div>
										<div><span>Synced with World Class Brokers</span></div>
										<div><span>LIFT9JA is synchronized with the market's top-class broker that offers protection for your money.</span></div>
									</div>
									<div class="lockicon"><i class="zmdi zmdi-refresh-sync"></i></div>
								</div>
								<div class="hero-feature-element-split module white-bg-card">
									<div>
										<div class="default-bgp1">
											<div><span><i class="fal fa-briefcase"></i></span></div>
										</div>
										<div><span>Highly Experienced</span></div>
										<div><span>LIFT9JA is built on several years of experience in the stock and digital markets and extensive business understanding.</span></div>
									</div>
									<div class="lockicon"><i class="fal fa-briefcase"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-12" id="investmentplanuser">
				<div class="investment-section">
					<div class="offset-controller">
						<div class="hero-investment-plan-wrapper">
							<div>
								<div class="col-12">
									<div class="investment-plan-header-text module">
										<div><span>Investment Plans</span></div>
									</div>
								</div>
								<div class="col-12">
									<div class="hero-plan-bsc-container">
										<div class="hero-plan-bsc-wrapper">
											<div id="hero-card-element-investment" class="module white-bg">
												<div id="hero-card-element-invest-wrapper" class="hero-card-element-invest-wrapper-tggl-a">
													<div class="hero-investment-width">
														<div class="plan-image-container">
															<div>
																<img src="static/lift9ja/assets/library/api/image/basicplan.png" alt="Gabz Investment Plan | Basic" id="bimg">
																<img src="static/lift9ja/assets/library/api/image/basicplanlgt.png" class="display" alt="Gabz Investment Plan | Basic" id="aimg">
															</div>
														</div>
														<div class="plan-content"><span>Basic Plan</span></div>
														<div class="plan-details">
															<div class="">
																<div class="plan-details-header"><span>ROI</span></div>
																<div class="sub-plan-detials"><span>25%</span></div>
															</div>
															<div>
																<div class="plan-details-header"><span>ROI Duration</span></div>
																<div class="sub-plan-detials"><span>30 days</span></div>
															</div>
															<div>
																<div class="plan-details-header"><span>Capital Safelock Duration</span></div>
																<div class="sub-plan-detials"><span>30 days</span></div>
															</div>
															<div>
																<div class="plan-details-header"><span>Amount</span></div>
																<div class="sub-plan-detials"><span>(₦10,000 - ₦299,999)</span></div>
															</div>
														</div>
														<div class="link-plan-get-started">
															<a href="/register"><button id="btn-invest-start-a"><span>Get Started</span></button></a>
														</div>
													</div>
												</div>
											</div>
											<div id="hero-card-element-investmentb" class="module white-bg">
												<div id="hero-card-element-invest-wrapper" class="hero-card-element-invest-wrapper-tggl-b">
													<div class="hero-investment-width">
														<div class="plan-image-container">
															<div>
																<img src="static/lift9ja/assets/library/api/image/premiumplan.png" alt="Gabz Investment Plan | Premium" id="pimga">
																<img src="static/lift9ja/assets/library/api/image/premiumplanlgt.png" class="display" alt="Gabz Investment Plan | Premium" id="pimgb">
															</div>
														</div>
														<div class="plan-content"><span>Premium Plan</span></div>
														<div class="plan-details">
															<div>
																<div class="plan-details-header"><span>ROI</span></div>
																<div class="sub-plan-detials"><span>35%</span></div>
															</div>
															<div>
																<div class="plan-details-header"><span>ROI Duration</span></div>
																<div class="sub-plan-detials"><span>30 days</span></div>
															</div>
															<div>
																<div class="plan-details-header"><span>Capital Safelock Duration</span></div>
																<div class="sub-plan-detials"><span>60 days</span></div>
															</div>
															<div>
																<div class="plan-details-header"><span>Amount</span></div>
																<div class="sub-plan-detials"><span>(₦300,000 - ₦5,000,000)</span></div>
															</div>
														</div>
														<div class="link-plan-get-started">
															<a href="/register"><button id="btn-invest-start"><span>Get Started</span></button></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<div id="howlonawork" class="col-12"></div>
			<div class="col-12">
				<div class="loan-feature-container">
					<div class="loan-feature-wrapper">
						<div>
							<div class="col-12 module">
								<div class="gabzil-loan-header-text">
									<div><span>HOW TO PARTICIPATE</span></div>
								</div>
							</div>
							<div class="col-12">
								<div class="hero-gabzil-loan-container">
									<div class="hero-gabzil-loan-wrapper">
										<div class="col-12 module">
											<div><a href="#howgabzilloanwork"><button class="pry-button-lgt btn-loan-work">How it works</button></a></div>
										</div>
										<div class="loans-features-card module" id="howgabzilloanwork">
											<div id="loantgg1">
												<div class="loan-feature-container-child">
													<div class="col-12"><div><span>1</span></div></div>
													<div class="col-12"><div class="loanfeature-xs"><span>To become a participant you start by getting an account using our website link or the referral link of the person that referred you.</span></div></div>
													<div class="investlink"><span><a href="/register">Get Started <span><i class="far fa-angle-right"></i></span></a></span></div>
													<div class="counterbg"><i>1</i></div>
												</div>
											</div>
											<div id="loantgg2">
												<div class="loan-feature-container-child">
													<div class="col-12"><div><span>2</span></div></div>
													<div class="col-12"><div class="loanfeature-xs"><span>After successful registerations, login and input your valid bank details which will be used in paying you on due date.</span></div></div>
													<div><span><a href="/register">Get Started <span><i class="far fa-angle-right"></i></span></a></span></div>
													<div class="counterbg"><i>2</i></div>
												</div>
											</div>
											<div id="loantgg3">
												<div class="loan-feature-container-child">
													<div class="col-12"><div><span>3</span></div></div>
													<div class="col-12"><div class="loanfeature-xs"><span>Wait for Investment Portal to be opened.</span></div></div>
													<div><span><a href="/register">Get Started <span><i class="far fa-angle-right"></i></span></a></span></div>
													<div class="counterbg"><i>3</i></div>
												</div>

											</div>
											<div id="loantgg4">
												<div class="loan-feature-container-child">
													<div class="col-12"><div><span>4</span></div></div>
													<div class="col-12"><div class="loanfeature-xs"><span>Proceed and chose any amount of your choice the least package is N2000 Maximum of N200,000.</span></div></div>
													<div><span><a href="/register">Get Started <span><i class="far fa-angle-right"></i></span></a></span></div>
													<div class="counterbg"><i>4</i></div>
												</div>
											</div>

											<div id="loantgg5">
												<div class="loan-feature-container-child">
													<div class="col-12"><div><span>5</span></div></div>
													<div class="col-12"><div class="loanfeature-xs"><span>Pay to company account and wait to be confirmed.</span></div></div>
													<div><span><a href="/register">Get Started <span><i class="far fa-angle-right"></i></span></a></span></div>
													<div class="counterbg"><i>5</i></div>
												</div>
											</div>

											<div id="loantgg6">
												<div class="loan-feature-container-child">
													<div class="col-12"><div><span>6</span></div></div>
													<div class="col-12"><div class="loanfeature-xs"><span>24hours after been confirmed,login and Withdraw your capital and Profit.</span></div></div>
													<div><span><a href="/register">Get Started <span><i class="far fa-angle-right"></i></span></a></span></div>
													<div class="counterbg"><i>6</i></div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 body-bg-2">
				<div class="hero-faq-container">
					<div class="hero-faq-wrapper">
						<div>
							<div class="faq-header-element module">
								<div class="center"><span>Frequently Asked Questions</span></div>
								<div class="center"><span>If you are hesitating, do not worry - we are here to explain everything
									you might want to know. Lets us help!</span>
								</div>
							</div>
							<!-- <div class="faq-category-selection module">
								<div class="faq-category-selection-accord-selection">
									<div><button class="pry-button-lgtfaqdefault generalbtn"><span>General</span></button></div>
									<div><button class="pry-button-lgtfaq investmentbtn"><span>Investment</span></button></div>
									<div><button class="pry-button-lgtfaq loanbtn"><span>Gabzil loan</span></button></div>
								</div>
							</div> -->
							<div class="faq-accord-container module">
								<div id="accordion" class="accordion-general">
																		    		<div>
									    			<div class="hero-faq-tbl">
									    				<div>
									    					<div><i class="fas fa-dot-circle"></i></div>
									    				</div>
									    				<div class="hero-faq-content-topic-display">
									    					<div>WHAT IS LIFT9JA?</div>
									    				</div>
									    				<div>
									    					<div><i class="fal fa-angle-down"></i></div>
									    				</div>
									    			</div>
									    		</div>
									    		<div class="accord-content">
									    			<span>
									    				LIFT9JA is an investment scheme created to eradicate poverty using it's unbeatable features.
									    			</span>
									    		</div>

									    									    		<div>
									    			<div class="hero-faq-tbl">
									    				<div>
									    					<div><i class="fas fa-dot-circle"></i></div>
									    				</div>
									    				<div class="hero-faq-content-topic-display">
									    					<div>OUR AIM
																	</div>
									    				</div>
									    				<div>
									    					<div><i class="fal fa-angle-down"></i></div>
									    				</div>
									    			</div>
									    		</div>
									    		<div class="accord-content">
									    			<span>
															Our major aim is to change the mindset of online Investments in general and give people hope and the need of investing in an online scheme without fear of losing their hard earned money.
														</span>
									    		</div>

									    									    		<div>
									    			<div class="hero-faq-tbl">
									    				<div>
									    					<div><i class="fas fa-dot-circle"></i></div>
									    				</div>
									    				<div class="hero-faq-content-topic-display">
									    					<div>LIFT9JA FEATURES</div>
									    				</div>
									    				<div>
									    					<div><i class="fal fa-angle-down"></i></div>
									    				</div>
									    			</div>
									    		</div>
									    		<div class="accord-content">
									    			<span>
															L9 offers it's Investors 10% return of investment in 24HOURS
																Profit of 10% and capital paid 24hours after Investment
																<ul>
																	<li>5% Continuous referral bonus 🆓</li>

																	<li>Bot notifications 🤖</li>

																	<li>SMS notifications when paid </li>

																	 <li>Dedicated admin 👮‍♀ </li>

																	 <li> 🔑 Secured website 🔑</li>
																</ul>
									    			</span>
									    		</div>

									    									    		<div>
									    			<div class="hero-faq-tbl">
									    				<div>
									    					<div><i class="fas fa-dot-circle"></i></div>
									    				</div>
									    				<div class="hero-faq-content-topic-display">
									    					<div>CAN I GET A BREAK DOWN?
																	</div>
									    				</div>
									    				<div>
									    					<div><i class="fal fa-angle-down"></i></div>
									    				</div>
									    			</div>
									    		</div>
									    		<div class="accord-content">
									    			<span>
															Using N20,000 Investment
															Register and deposit N20,000
															After been confirmed, your 24hours withdrawal timer comes up
															Once it elapse, proceed and Withdraw your Profit and capital of N22,000
									    		</div>

									    									    		<div>
									    			<div class="hero-faq-tbl">
									    				<div>
									    					<div><i class="fas fa-dot-circle"></i></div>
									    				</div>
									    				<div class="hero-faq-content-topic-display">
									    					<div>👭REFERRAL BONUS</div>
									    				</div>
									    				<div>
									    					<div><i class="fal fa-angle-down"></i></div>
									    				</div>
									    			</div>
									    		</div>
									    		<div class="accord-content">
									    			<span>
																Referring is strictly optional, but when you refer you get Continuous 5% Referral bonus
																When you refer 10 persons system pays you weekly fee of N10,000

																When you refer 25 persons, system pays you weekly fee of N30,000
														</span>
									    		</div>

									    	</div>

							</div>
							<div class="faq-more-question">
								<div class="faq-more-question-selection">
									<div class="faq-more-question-element">
										<div class="center module"><span>Do you still have a question?</span></div>
										<div class="center module">
											<span>if you can't find the answer to your question in our FAQ, you can always contact us. We will answer you shortly</span>
										</div>
									</div>
									<div class="faq-more-question-button-container">
										<div class="hero-aq-more-question-button">
											<a href="tel:+"><div class="module contact-btn contact-btna"><button><span><i class="fal fa-phone"></i></span></button></div></a>
											<a href="mailto: lift9ja@gmail.com?subject=LIFT9JA Investment Inquiry"><div class="module contact-btn contact-btnb"><button class="button-faq-message"><span><i class="fal fa-envelope"></i></span></button></div></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="col-12 hiddenX">
						<div class="hero-testimonal">
							<div class="hero-testimonal-wrapper">
								<div class="tetiomonal-header-element module">
									<div class="col-12"><a href="#whatfolkssay"><button class="pry-button-lgt testimonalbtn"><span>TESTIMONALS</span></button></a></div>
									<div class="col-12" id="whatfolkssay"><span>What Folks Say</span></div>
								</div>
								<div class="testimonals-content">
									<div class="hero-testiomonals-card-container module">
										<div>
											<div class="hero-ring-line"></div>
											<div class="hero-ring-circular"><div><span>1</span></div></div>
											<div class="hero-ring-line-bottom"></div>
										</div>
										<div>
											<div class="hero-testimonal-content">
												<div><span>John Eric | USA</span></div>
												<div><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris</span></div>
												<div><span>January 2020</span></div>
											</div>
										</div>
									</div>

									<div class="hero-testiomonals-card-container module">
										<div>
											<div class="hero-ring-line"></div>
											<div class="hero-ring-circular"><div><span>2</span></div></div>
											<div class="hero-ring-line-bottom"></div>
										</div>
										<div>
											<div class="hero-testimonal-content">
												<div><span>John Eric | USA</span></div>
												<div><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris</span></div>
												<div><span>January 2020</span></div>
											</div>
										</div>
									</div>

									<div class="hero-testiomonals-card-container module">
										<div>
											<div class="hero-ring-line"></div>
											<div class="hero-ring-circular"><div><span>3</span></div></div>
											<div class="hero-ring-line-bottom"></div>
										</div>
										<div>
											<div class="hero-testimonal-content">
												<div><span>John Eric | USA</span></div>
												<div><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation em ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris</span></div>
												<div><span>January 2020</span></div>
											</div>
										</div>
									</div>

									<div class="hero-testiomonals-card-container module">
										<div>
											<div class="hero-ring-line"></div>
											<div class="hero-ring-circular"><div><span>4</span></div></div>
											<div class="hero-ring-line-bottom"></div>
										</div>
										<div>
											<div class="hero-testimonal-content">
												<div><span>John Eric | USA</span></div>
												<div><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris</span></div>
												<div><span>January 2020</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<div id="Newsletter"></div>
					<div class="col-12">
						<div class="hero-newsletter">
							<div class="hero-newsletter-wrapper">
								<div class="hero-newslatter-img gabz-bounce module">
									<div><img src="static/lift9ja/assets/library/api/image/newsletter-mail-600-default1.png" alt="Subscribe-to-Gabz-Newsletter"></div>
								</div>
								<div>
								<div class="newslatter-form-container module">
										<div><img src="static/lift9ja/assets/images/gabzlogoicon.png" alt="Gabz"></div>
										<div><span>Contact us now</span></div>
										<div class="newslatter-form-container-input-control">
											<form action="" method="POST">
												<div class="hero-section-input-name">
													<div>Name:</div>
													<div><input type="text" name="newslettersender"></div>
												</div>

												<div class="hero-section-input-mail">
													<div>Email:</div>
													<div><input type="email" name="newslettermail"></div>
												</div>
												<br>
												<div class="hero-section-input-message">
													<div>Message:</div>
													<div>
														<textarea name="message" rows="8" cols="40"></textarea>
													</div>
													<!-- <div><input type="email" name="newslettermail"></div> -->
												</div>
												<!-- <div class="hero-user-agreement">
													<div><input type="checkbox" name="useragreement"></div>
													<div>I have read and agree to the <a href="#" class="termsagree">terms and condition</a></div>
												</div> -->
												<div class="hero-subscribe-btn">
													<button type="submit" name="subscribe" class="pry-button-lgt"><span>Subscribe</span>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

		{% endblock %}
