
{% extends 'peektop/base.html' %}
{%load static%}


<!-- {% block tittle %}<title>Deposit</title>{% endblock %}
 -->

 	{% block header %}
	<!-- HEADER -->
	<header class="header header--fixed">	
		<div class="header__inner">	
			<div class="header__icon"><a href="/sign-in"><img src="{% static 'assets/images/icons/gray/arrow-back.svg' %}" alt="" title=""/></a></div>	
                </div>
                <br>

					   <div style="display:none" class="container messages">
                      <p style="text-align:center; color: pink;" class="close">x</p>
                        <p style="text-align:center" class="alert"></p>
                    </div>
	</header>

{% block body %}	
	
<div class="page page--login" data-page="login">

	{% endblock %}

	
		<br>

        <div class="login">
		<div class="login__content">	
			<h2 class="login__title loginTitle">Don't worry</h2>
			<p class="login__text">Will send the new password by email</p>
				<div class="login-form">
					<form class="UserForm" id="LoginForm" method="post">
						{%csrf_token%}
						<div class="login-form__row">
							<label class="login-form__label">Email</label>
							<input type="email" name="email" value="" class="login-form__input required email" />
						</div>

						<div class="login-form__row">
							<label class="login-form__label">Security question</label>
							<input type="text" placeholder="Please tell us your withdrawal pin" name="sec_question" value="" class="login-form__input required sec_question" />
						</div>
						<div class="login-form__row">
							<input type="submit" name="submit" class="login-form__submit button button--blue button--full" id="submit" value="RESEND PASSWORD" />
						</div>
					</form>	
					<div class="login-form__bottom">
						<p>Check your email and follow the instructions to reset your password.</p>
					</div>
				</div>
		</div>
        </div>
			  


</div>
<!-- PAGE END -->
   
{% endblock %}