<!DOCTYPE html>

{%load static%}
{% load humanize %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
<title>{{siteName}}</title>
<link rel="stylesheet" href="{% static 'vendor/swiper/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com/">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</head>
<link href="{% static 'assets/images/icons/favicon.jpg' %}" rel="shortcut icon" type="image/vnd.microsoft.icon" />


<body>
<!-- Overlay panel -->
<div class="body-overlay"></div>
<!-- Left panel -->
<div id="panel-left"></div>
<!-- Right panel -->
<div id="panel-right"></div>

<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


<meta name="referrer" content="no-referrer-when-downgrade">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="panel-close panel-close--left"><img src="{% static 'assets/images/icons/black/close.svg' %}" alt="" title=""/></div>
<div class="panel-close panel-close--right"><img src="{% static 'assets/images/icons/black/close.svg' %}" alt="" title=""/></div>
<!-- <header style="background: #7a0000;" class="header header--fixed"> -->


	{% block header %}
	<!-- HEADER -->
	<header class="header header--fixed">
		<div class="header__inner">
<!-- 			<div class="header__icon header__icon--menu open-panel" data-panel="left" data-arrow="right"><span></span><span></span><span></span><span></span><span></span><span></span></a></div>
 -->
 <div class="header__logo header__logo--text"><a href="/"><strong>Peek</strong>Top</a></div>
			<div class="header__icon " data-panel="right" data-arrow="left">{{currency}}{{wallet|intcomma}}</div>
                </div>
	</header>

	{% endblock %}



    {% block security %}

  <!--       <script type="text/javascript">
            $(document).bind("contextmenu",function(e) {
             e.preventDefault();
            });

            $(document).keydown(function(e){
                if(e.which === 123){
                   return false;
                }
            });

        </script> -->
    {% endblock %}
{% block body %}

{%endblock %}


<!-- PAGE END -->

<!-- Bottom navigation -->
<div id="bottom-toolbar" class="bottom-toolbar"></div>

<!-- Social Icons Popup -->
<div id="popup-social"></div>

<!-- Alert -->
<div id="popup-alert"></div>



{% block messages %}

<!-- construct 3 level messages, info, error, success-->

{% if messages %}

<script type="text/javascript">

    $('.loginTitle').hide()
</script>

{% for message in messages %}

<div class="message-message">

{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}


<script type="text/javascript">


      $(".messages").slideToggle();

    $('.alert').text('{{message}}').css("color", '#d9534f')

</script>
{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}


<script type="text/javascript">


     $(".messages").slideToggle();

    $('.alert').text('{{message}}').css("color", '#01ddac')

</script>

{% endif %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}

<script type="text/javascript">

$(".messages").slideToggle();

    $('.alert').text('{{message}}').css("color", '#5bc0de')

</script>


{% endif %}


{% endfor %}
{% endif %}

{% endblock %}
<script type="text/javascript">

	$('.close').on('click', function function_name(argument) {
		// body...
		$('.messages').hide()
	})

    $('.login-form__input').on('click', function function_name(argument) {
        // body...
        $('.messages').hide()
    })


</script>


<style type="text/css">


@media only screen and (max-width: 600px) {
  .table__row {
    table-layout: fixed;
    width: 300%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; }
    select.form__input.required {
    width: calc(100% - 0px) !important;
}


}



</style>




<script src="{% static 'vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.validate.min.js' %}" ></script>
<script src="{% static 'vendor/swiper/swiper.min.js' %}"></script>
<script src="{% static 'js/jquery.custom.js' %}"></script>
<script src="static/js/swiper-init.js"></script>

</body>

</html>
